body {
  margin: 0 auto;
  max-width: 720px;
}

div {
  height: 150px;
  width: 720px;
  position: relative;
}

.nightMode {
  color: white;
}

#title{
  height: auto;
}

#headerBlock
{
  bottom:15px;
  
}
#headerBlock img {
  position: absolute;
  margin: auto;
  z-index: -1;
}

#mainBlockImg {
  position: relative;
  width: 720px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:2px 2px 15px 2px black;
}

#icon1 {
  width: 60px;
  top: 55px;
  left: 46px;
}

#headerBlock p {
  position: absolute;
  margin: auto;
}

#headerBlock p strong {
  font-size: 40px;
}

#temperature {
  top: 55px;
  left: 145px;
}

#humidity {
  top: 55px;
  left: 295px;
}
#rainfall {
  top: 55px;
  left: 470px;
}

#uvIndex {
  top: 55px;
  left: 630px;
}

#updateTime {
  bottom: 8px;
  right: 16px;
}
#humidityIcon {
  top: 55px;
  left: 255px;
  height: 50px;
}
#rainIcon {
  top: 55px;
  left: 415px;
  height: 50px;
}
#uvIcon {
  top: 55px;
  left: 575px;
  height: 50px;
}

h2 {
  margin: 0.5em 0 0 0.5em;
}

#weatherForecast {
  background: lightslategray;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow:2px 2px 15px 2px black;
}

#flexbox {
  display: flex;
  top: 42px;
}

.wfSubBlock {
  padding: 5px;
  zoom: 0.5;
  height: auto;
  display: inline;
  text-align: center;
}

.wfSubBlock p{
  margin: 0;
  font-weight: bold;
  font-size: larger;
}

#tempBlock{
  background-color:cornflowerblue;
  border-radius: 10px;
  width: 225px;
  box-shadow:2px 2px 15px 2px black;
  float:left;
}

#tempBlock p{
  margin: 0 15px;
}

#places{
  top: 70px;
  left: 15px;
  position: absolute;
}

#tbTempBlock{
  font-size: 40px;
  margin-top: 20px !important;
}
#weatherForecast h2{
  position:absolute;
}

span{
  font-size: medium;
}

#myDataBlock{
  background-color:darkseagreen;
  float: right;
  width: 480px;
  border-radius: 10px;
  box-shadow:2px 2px 15px 2px black;
}

#myDataBlock p{
  margin: 0 15px;
}

#headerBlock h2{
  position: absolute;
}